@font-face {
    font-family: merriweather;
    src: url(../assets/fonts/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: merriweatherItalics;
    src: url(../assets/fonts/MerriweatherSans-Italic-VariableFont_wght.ttf);
}

:root{
    font-family: "merriweather"; 
}



.title {
    color: white;

    font-size: 5rem;
    margin: 0px 15vw;
    width:70vw;
    text-align: center;
}

.center-text{
    color: white;

    text-align: center;
}

.link{
    text-decoration: none;
}

.link:hover{
    opacity: 0.5;
}

.side {
    height: 40vh;
    width: 100%;

    display: grid;
    
    overflow: hidden;
    position: absolute;
}

.snippet {
    position:relative
}

#about{
    background-color: rgb(116, 32, 32);
    z-index: 2;
}

#projects{
    background-color: rgb(172, 172, 172);
}