@font-face {
    font-family: merriweather;
    src: url(../assets/fonts/MerriweatherSans-VariableFont_wght.ttf);

}

@font-face {
    font-family: merriweatherItalics;
    src: url(../assets/fonts/MerriweatherSans-Italic-VariableFont_wght.ttf);
}

.title {
    color: white;
    font-family: "merriweather";
    font-size: 5rem;
    margin: 0px 15vw;
    width:70vw;
    text-align: center;

    
}

.basic{
    color: white;
    font-family: "merriweather";
    font-size: 2rem;
    text-align: center;
}

.text{
    color: white;
    font-family: "merriweather";
    font-size: 1rem;
    text-align: center;
}

*{
    cursor: none;
}


.side {
    height: 150vh;
    width: 100%;

    display: grid;
    
    
    overflow: hidden;
    position: absolute;
}



.snippet {
    position:relative
}

#about{
    background-color: rgb(116, 32, 32);
    z-index: 2;

}

#projects{
    background-color: rgb(172, 172, 172);
}